/* src/components/Navbar.css */
.navbar {
    background-color: black;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
    background-color: rgb(5, 5, 5);
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

