/* src/pages/RegisterLogin.css */
.register-page {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-container {
  flex: 1; /* Ensure the container takes up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add some padding for better spacing */
}

.register-card {
  width: 100%;
  max-width: 1100px; /* Adjust as necessary */
  display: flex;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 525px; /* Fixed height to prevent resizing */

  /* Add media queries to adjust the card size and layout on smaller screens */
  @media (max-width: 767px) {
    height: auto;
    flex-direction: column;
    margin: 20px 0; /* Add margin for vertical centering */
  }
}

.card .row.no-gutters {
  display: flex;
  width: 100%;

  /* Add media queries to change the flex direction on smaller screens */
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.card .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  padding: 2rem;

  /* Adjust padding for smaller screens */
  @media (max-width: 767px) {
    padding: 1rem;
  }
}

.logo {
  width: 100%; /* Ensure the logo takes up the entire width */
  height: 100%; /* Ensure the logo takes up the entire height */
  object-fit: cover;

  /* Adjust height for smaller screens */
  @media (max-width: 767px) {
    height: auto;
    max-height: 200px; /* Limit the height of the logo on smaller screens */
  }
}

.hidden-username {
  visibility: hidden; /* Hide the username field */
  height: 0;
  margin: 0;
  padding: 0;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.button-group .btn-secondary {
  margin-left: 10px;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: auto;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-link {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-icon {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-icon:hover {
  color: #999;
}




